
---

## 1. Mathematical Logic & Loops Review

These cells focus on applying loops to solve mathematical and logic-based problems.

* **Population Growth Calculation:** A program that calculates the decreasing population of a town backward in time, assuming a 10% annual increase. It uses a `for` loop with a negative step: `range(10, 0, -1)`.
* **Sequence Sum ():** This program calculates the sum of a mathematical sequence. It updates the factorial (`fact`) and adds the current iteration value divided by that factorial to a running `result`.
* **Nested Loops (Unique Pairs):** A basic demonstration of nested loops where an inner loop runs completely for every single iteration of the outer loop, generating all possible pairs between 1 and 4.
* **Pattern 1 (Star Triangle):** Uses nested loops to print a right-angled triangle of stars (`*`). The number of stars in a row is determined by the current iteration of the outer loop.
* **Pattern 2 (Number Pyramid):** A more complex pattern that prints numbers in increasing order and then decreasing order (e.g., `12321`) using three separate loops within the main row loop.

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [1]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
# Code here

n = int(input('enter n'))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact

print(result)

# Nested Loops

In [ ]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

### Pattern 1


* <br>
** <br>
***<br>

In [ ]:
# code here

rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
# Code here
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

# Loop Control Statement

- Break  --> Linear search
- Continue
- Pass


---

## 2. Loop Control Statements

These statements are used to alter the flow of a loop based on specific conditions.

* **`break`:** Terminates the loop immediately when a condition is met (e.g., exiting when `i == 5`).
* **Prime Number Range:** A practical application of `break`. It uses a nested loop to check for factors; if a factor is found, it "breaks" the inner loop. The `else` block attached to the `for` loop prints the number only if the loop finished without breaking.
* **`continue`:** Skips the current iteration and moves to the next one. Used in the notebook to skip printing the number 5 in a sequence.
* **`pass`:** A null operation used as a placeholder. It tells the compiler to do nothing and move on without throwing an error.

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

###  Find out the prime number between range

In [ ]:
lower = int(input('enter lower range :'))
upper = int(input('enter upper range :'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

### continues used  in checking stock zero then skip it

In [ ]:
# Continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

### just pass and telling the compiler please dont through any error

In [ ]:
for i in range(1,10):
  pass

---
#  `Creating Stings`

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions


---

## 3. Creating and Accessing Strings

Strings in Python are sequences of Unicode characters.

* **Creation Methods:** Strings can be created using single (`' '`), double (`" "`), or triple quotes (`''' '''` or `""" """`). Triple quotes are specifically used for multiline strings. The `str()` constructor is also a built-in class for creation.
* **Indexing:** * **Positive Indexing:** Starts from `0` at the beginning of the string.
* **Negative Indexing:** Starts from `-1` at the end of the string.


* **Slicing:** The syntax is `[start : end : step]`.
* The `end` index is always excluded from the result.
* **Reverse Slicing:** Using a negative step (like `-1`) allows for reversing strings or segments.
* **Flexibility:** If a start index is out of range, Python adjusts it to the closest valid position rather than throwing an error.

In [1]:
s = 'hello'
s = "hello"

# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello') ## str( ) -->> is a Build it class for creating the string
print(s)

hello

In [2]:
"it's raining outside"

"it's raining outside"

In [4]:
s = """ hello boys  --- """
s 
 
 # hello boys

' hello boys  --- '

## Accessing Substrings from a String

---

## 4. String Properties and Operations

* **Immutability:** Python strings are immutable. You cannot edit a specific character (e.g., `s[0] = 'H'`) or delete a part of a string using `del`. Attempting to do so results in a `TypeError`.
* **Arithmetic Operations:**
* **Concatenation (`+`):** Glues two strings together.
* **Replication (`*`):** Repeats a string a specific number of times.


* **Relational Operations:** Strings are compared lexicographically (alphabetical order based on ASCII/Unicode values). For example, `'Pune' > 'pune'` evaluates based on character case.
* **Logical Operations:**
* **`and`:** Returns the second value if the first is "Truthy" (non-empty).
* **`or`:** Returns the first value if it is True, otherwise returns the second.


* **Membership (`in` / `not in`):** Checks if a character or substring exists within the string.

In [5]:
# Positive Indexing
s = 'hello'
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])

h
e
l
l
o

In [6]:
# Positive Indexing
s = 'hello'

print(s[7])

IndexError: string index out of range

In [8]:
# Positive Indexing
s = 'hello world'
print(s[4])

o

In [9]:
# Slicing  -->> [  stard :end  : step  ]

s = "abcdefg"
s[ 0 :0: 0] 
# ValueError: slice step cannot be zero

ValueError: slice step cannot be zero

In [ ]:
# Slicing  -->> [  stard : end  : steps ]

s = "abcdefg"
s[ 0 : 5: 1]  ## index goes to -->> 0 to 4

'abcde'

In [ ]:
s = "abcdefg"
s[ 0: ]  ## index goes to -->> 0 to 6

'abcdefg'

In [ ]:
s = "abcdefg"
s[ 0: 8 ]  ## index goes to -->> 0 to 7

'abcdefg'

In [ ]:
s = "abcdefg"
s[ : 5] ## index goes to -->> 0 to 4

'abcde'

In [ ]:
s = "abcdefg"
s[ : 5] ## index goes to -->> 0 to 4

In [ ]:
# Slicing  -->> [  stard :end  : step  ]

s = "abcdefg"   # letters:  a  b  c  d  e  f  g
                # indices:  0  1  2  3  4  5  6

               
s[ 0 :  : 2]  ## index goes to -->> 0,2,4,g

'aceg'

In [ ]:
# Slicing  -->> [  stard :end  : step  ]

s = "abcdefg"   # letters:  a  b  c  d  e  f  g
                # indices:  0  1  2  3  4  5  6
                # indices: -7 -6 -5 -4 -3 -2 -1


s[  :  : -1]  ## index goes to -->>

'gfedcba'

In [13]:
# Slicing  -->> [  stard :end  : step  ]

s = "abcdefg" # index : 0 1 2 3 4 5 6 
s[ : -1]

'abcdef'

In [ ]:
# Slicing  -->> [  stard :end  : step  ]

s = "abcdefg" # index : 0 1 2 3 4 5 6 
s[-1]

'g'

In [ ]:
# Slicing  -->> [  stardt :end  : step  ]

s = "abcdefg"  # indices:  0  1  2  3  4  5  6
               # letters:  a  b  c  d  e  f  g

s[8:0:-1]


# Start = 7: This means start from index 7.

# End = 0: This means go down to, but NOT including, index 0.

# Step = -1: This means go backwards (reverse).

# 'gfedcb'


# Your logic of subtracting 1 is correct.
# Python starts at the beginning of the slice range and 
# repeatedly adds the step until it reaches the stop value:

# Start at index 6 (Adjusted from 7): Character is 'g'
#  6 + (-1) = Index 5: Character is 'f'
#  5 + (-1) = Index 4: Character is 'e'
#  4 + (-1) = Index 3: Character is 'd'
#  3 + (-1) = Index 2: Character is 'c'
#  2 + (-1) = Index 1: Character is 'b'
#  1 + (-1) = Index 0: STOP (Index 0 is excluded).

'gfedcb'

In [ ]:
# Slicing  -->> [  stardt :end  : step  ]

s = "abcdefg"  # indices:  0  1  2  3  4  5  6
               # letters:  a  b  c  d  e  f  g

s[  : :-1]


# s[7:0:-1]: You explicitly set the stop index to 0. Since the stop index is always excluded, 
# Python stops at index 1 and never reaches the 'a'.

# s[::-1]: You left the stop index empty. When the stop index is empty and the step is negative, 
# Python knows to go all the way through the very first character (index 0) until the string ends.

'gfedcba'

In [ ]:
# Slicing  -->> [  stardt :end  : step  ]

"""
Even though index 7 does not exist in the string (highest is 6), Python does not throw an error in slicing. Instead, it starts just before index 7, which is essentially at the end of the string.
So slicing starts at the last character, which is 'g' at index 6.
This is one of Python’s flexible slicing features:
If the start index is out of range, Python adjusts it to the closest valid position based on the direction of the step.
"""

s = "abcdefg"  # indices:  0  1  2  3  4  5  6
               # letters:  a  b  c  d  e  f  g

s[7: :-1]

In [ ]:
s = "abcdefg"
s[0]

In [15]:
# Slicing  -->> [  stard :end  : step  ]

s = "abcdefg" # index : 0 1 2 3 4 5 6 
s[ 6 :  : -2]

'geca'

In [ ]:
# Slicing  -->> [  stard :end  : step  ]

s = "abcdefg" # index : 0 1 2 3 4 5 6 
s[ 6 : 0 : -2]

In [16]:
# Negative Indexing -->>> for print from end 
s = 'hello world'
print(s[-3])

r

In [17]:
# Slicing  -->> [  stard : end  : step  ]
s = 'hello world'
print(s[6:0:-2])

wol

In [ ]:
s = "hello world"
s[ -5 : : ]

In [ ]:
print(s[::-1])

In [18]:

# s = 'h   e    l   l   o    _    w    o    r     l   d   '
    #  0   1    2   3   4    5   6    7     8    9   10
    # -11 -10  -9  -8  -7   -6  -5   -4    -3   -2   -1


s = 'hello_world'
print(s[-1:-6:-1])


# Which means:

# Start at index -1 → 'd'

# End at index -6 → ' ' (space at index 5)

# Step is -1 → move backward

# So the slicing goes like this:
# Start from s[-1] = 'd'
# Then s[-2] = 'l'
# Then s[-3] = 'r'
# Then s[-4] = 'o'
# Then s[-5] = 'w'

# It stops before index -6.

dlrow

## Editing and Deleting in Strings

In [1]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
s = 'hello world'
del s
print(s)

In [19]:
s = 'hello_world'
del s[ 1 : 4 : 1]
print(s)

TypeError: 'str' object does not support item deletion

In [20]:
s = 'hello_world'
s2 = del s[ 1 : 4 : 1]
print(s)

SyntaxError: invalid syntax (3275003016.py, line 2)

In [ ]:
s = 'hello world'
del s[-1:-5 :2]
print(s)

## `Operations on Strings`

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [1]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [2]:
print('delhi_'*5)

delhi_delhi_delhi_delhi_delhi_

In [1]:
print("*"*50)

**************************************************

In [33]:
'delhi' == 'delhi'

True

In [2]:
'delhi' != 'delhi'

False

In [34]:
'mumbai' > 'pune'
# lexiographically

False

In [3]:
'Pune' > 'pune'

False

In [ ]:
# The 'and' operator returns the second value if the first is True (non-empty)
'hello' and 'world'

# Short-Circuit Evaluation

# Operation,          Rule,                        Result
# A and B,            "If A is True, return B",    'world'
# A or B,             "If A is True, return A",    'hello'
# " " and "world",    "If A is False, return A",    " "(Empty string)"

# The Logic of and
# The and operator follows these rules:

# It evaluates the first value.

# If the first value is False, it returns that value immediately (because the whole thing must be false).

# If the first value is True, it doesn't even look at the first value anymore—it returns the second value, regardless of what it is.

'world'

In [4]:
'hello' or 'world'

'hello'

In [5]:
'' and 'world'

''

In [39]:
'' or 'world'

'world'

In [35]:
'hello' or 'world'

'hello'

In [ ]:
'hello' and 'world'

In [ ]:
not 'hello'

In [ ]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [4]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [5]:
'D' in 'delhi'

False

## Functions (Standalone)
- Functions like len(), max(), and min() are built-in and independent. You pass the data into them as an argument.
-  Syntax: function(data)
- Example: len("Hello") → You are passing the string to the function.

---
## Methods (Attached to Objects)
- .lower() is a Method. In Python, everything is an "object." Because 'Hello World' is a string object, it comes with its own set of built-in tools (methods) attached to it.

- Syntax: data.method()

- Example: 'Hello'.lower()

- Instead of passing the string into the function, the string "calls" the method that already lives inside it.

---
## Why sorted() vs .sort()?
- This is a common point of confusion. Python has both:

- `sorted(my_list)`: A `function` that takes any collection and `returns a new sorted list`.

- `my_list.sort()`: A `method` that belongs to list objects. `it changes the list directly (in-place)`.

## Common Functions
- len
- max
- min
- sorted

---

## 5. Built-in String Functions vs. Methods

* **Functions (Standalone):** These are independent and take the string as an argument, e.g., `len(s)`, `max(s)`, `min(s)`, and `sorted(s)`.
* **Methods (Object-attached):** These belong to the string object and are called using dot notation, e.g., `s.lower()`.

### Common String Methods

### **Case Conversion:** `capitalize()`, `title()`, `upper()`, `lower()`, and `swapcase()`.
###  **Searching:**
* **`count()`:** Counts occurrences of a substring.
* **`find()`:** Returns the index of a substring; returns `-1` if not found.
* **`index()`:** Similar to `find()`, but raises a `ValueError` if the substring is not found.


### **Validation:** `endswith()`, `startswith()`, `isalnum()`, `isalpha()`, `isdigit()`, and `isidentifier()`.
### **Formatting:** The `.format()` method allows for dynamic string building using placeholders `{}`.
### **Transformation:**
* **`split()`:** Breaks a string into a list based on a delimiter (default is space).
* **`join()`:** Uses the string as "glue" to join elements of a list or characters of another string.
* **`replace()`:** Swaps a target substring with a new one.
* **`strip()`:** Removes leading and trailing whitespace.

In [40]:
len('hello_world')

11

In [41]:
max('hello world')

'w'

In [42]:
min('hello world')

' '

In [43]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [44]:
s = "hello i am sanu"
sorted(s ,reverse=False)

[' ', ' ', ' ', 'a', 'a', 'e', 'h', 'i', 'l', 'l', 'm', 'n', 'o', 's', 'u']

In [45]:
s = "hello i am sanu"
sorted(s ,reverse=True)

['u', 's', 'o', 'n', 'm', 'l', 'l', 'i', 'h', 'e', 'a', 'a', ' ', ' ', ' ']

* **Case Conversion:** `capitalize()`, `title()`, `upper()`, `lower()`, and `swapcase()`.

In [30]:
s = 'hello world'
print(s.capitalize())
print(s)

Hello world
hello world

In [13]:
s.title()

'Hello World'

In [14]:
s.upper()

'HELLO WORLD'

In [15]:
'Hello Wolrd'.lower()

'hello wolrd'

In [16]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'


* **Searching:**
* **`count()`:** Counts occurrences of a substring.
* **`find()`:** Returns the index of a substring; returns `-1` if not found.
* **`index()`:** Similar to `find()`, but raises a `ValueError` if the substring is not found.

In [17]:
'my name is nitish'.count('i')

3

In [54]:
# s.find( substring  , star , end )

s="abcdefg"

s.find( 'd')

3

In [ ]:
# s.find( substring  , star , end )

s="abcdefg"

s.find( 'c' , 4 )

# - 1 -->> outside the range

-1

In [46]:
'my name is nitish'.find('is')

8

In [47]:
'my name is nitish'.find('name')

3

In [19]:
'my name is nitish'.find('x')

-1

In [20]:
'my name is nitish'.index('is')

8

In [21]:
'my name is nitish'.index('x')

ValueError: substring not found

* **Validation:** `endswith()`, `startswith()`, `isalnum()`, `isalpha()`, `isdigit()`, and `isidentifier()`.

In [23]:
'my name is nitish'.endswith('sh')

True

In [24]:
'my name is nitish'.endswith('sho')

False

In [25]:
'my name is nitish'.startswith('my')

True

In [26]:
'my name is nitish'.startswith('1my')

False

### * **Formatting:** The `.format()` method allows for dynamic string building using placeholders `{}`.

In [48]:
name = 'nitish'
gender = 'male'

'Hi my name is {} and I am a {}'.format(gender,name)

'Hi my name is male and I am a nitish'

In [28]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

In [29]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(name ,gender)

'Hi my name is male and I am a nitish'

## * **Validation:** `endswith()`, `startswith()`, `isalnum()`, `isalpha()`, `isdigit()`, and `isidentifier()`.

In [31]:
'nitish1234'.isalnum()

True

In [32]:
'nitish1234%'.isalnum()

False

In [33]:
'nitish'.isalpha()

True

In [34]:
'nitish555'.isalpha()

False

In [35]:
'123'.isdigit()

True

In [36]:
'123abc'.isdigit()

False

In [37]:
'first_name'.isidentifier()

True

In [38]:
'first-name'.isidentifier()

False

## Split/Join

In [39]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

## split( ) -->> it can split on particular char

In [40]:
'hi my name is nitish'.split('i')

['h', ' my name ', 's n', 't', 'sh']

In [52]:
first_name = "Toney"
second_name = "Stark"
first_name.split( second_name)

['Toney']

---
## * **Transformation:**
* **`split()`:** Breaks a string into a list based on a delimiter (default is space).
* **`join()`:** Uses the string as "glue" to join elements of a list or characters of another string.
* **`replace()`:** Swaps a target substring with a new one.
* **`strip()`:** Removes leading and trailing whitespace.


## .join()

- ### The reason the results look strange is that .join() works differently than most people expect. Most people think it "glues" two things together, but it actually uses the first string as the glue for the second thing.

- ### What happened here?

- ### Python treats the string "Stark" as a collection of characters: ['S', 't', 'a', 'r', 'k'].

- ###  It puts "Toney" (the glue) between every letter of "Stark".

- ###  The math behind it: 'S' + "Toney" + 't' + "Toney" + 'a' + "Toney" + 'r' + "Toney" + 'k'
- ### 'SToneytToneyaToneyrToneyk'

In [51]:
"-".join("ABC")

'A-B-C'

In [49]:
first_name = "Toney"
second_name = "Stark"
first_name.join( second_name)

'SToneytToneyaToneyrToneyk'

In [50]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

In [42]:
"--".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi--my--name--is--nitish'

In [43]:
s = ['hi', 'my', 'name', 'is', 'nitish']

"--".join(s)

'hi--my--name--is--nitish'

## Replace

In [44]:
'hi my name is nitish'.replace('nitish','campusx')

'hi my name is campusx'

In [45]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

'hi my name is nitish'

## Strip

In [46]:
'nitish                           '.strip()

'nitish'

In [51]:
'hi my name is--------nitish----'.strip()

'hi my name is--------nitish----'

## Example Programs

---

## 6. Example Programming Solutions

The notebook concludes with several logic exercises implemented without using certain built-in shortcuts:

* **Manual Length:** Using a counter and a loop instead of `len()`.
* **Email Extraction:** Finding the index of `@` to slice out a username.
* **Character Frequency:** Manually counting specific characters.
* **Palindrome Check:** Comparing a string to its reverse segment by segment or using `s[::-1]`.
* **Word Counter:** Counting spaces to determine word count without using `split()`.
* **Manual Title Case:** Splitting a string and manually capitalizing the first letter of each word.
* **Integer to String Conversion:** Using modulo `% 10` and floor division `// 10` to extract digits and map them to a string sequence.

In [ ]:
# 1 ) Find the length of a given string without using the len() function

#  2 ) Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

# 3)  Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

# 4 ) Write a program which can remove a particular character from a string.

# 5) Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

# 6 )  Write a program to count the number of words in a string without split()

# 7 )  Write a python program to convert a string to title case without using the title()

# 8 )  Write a program that can convert an integer to string.

In [59]:
# 1 ) Find the length of a given string without using the len() function
s = input('enter the string :')
# s = "hello_world"
count = 0 

for i in s:
    count +=  1
print ( count )

enter the string : hello , how are you

20

In [67]:
#  2 ) Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = "nitish24singh@gmail.com"
# s.index("@")
username = s.split ('@')
username[0]

'nitish24singh'

In [68]:
# 3)  Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = 'hello how are you'
freq = s.count ('h')
freq

2

In [71]:
# 4 ) Write a program which can remove a particular character from a string.

s = 'hello how are you'
new_s = s.replace( 'l', 'x')
new_s

'hexxo how are you'

In [ ]:
# 5) Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

#-------------  With method ------------------------------

s = "abba"
# rev_s = s.sort( s , reversed = True)  # AttributeError: 'str' object has no attribute 'sort'

rev_s = s[::-1]

rev_s == s

In [89]:
# 5) Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam
#-------------  Without  method  and By Loops    --------------------------------------------

s = " malayalam"
rev = ""
for i in range( 0 , len( s)):
     rev = rev+s[i]

if rev == s :
    print ( "yes , it is palindrome")
else : print ( "No , it is not  palindrome")

yes , it is palindrome

In [91]:
# 6 )  Write a program to count the number of words in a string without split()

s = 'hello how are you'
count = 1 

for i in range ( 0 , len (s)):
    if s[i] == ' ' or s[i] == "  " :
        count += 1
count

4

### Solution

In [ ]:
# 1 ) Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

In [ ]:
#  2 ) Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

In [ ]:
# 3)  Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

In [ ]:
# 4 ) Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

In [ ]:
# 5) Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

In [ ]:
# 6 )  Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

In [ ]:
# 7 )  Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

In [ ]:
# 8 )  Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))